<Row Class="outline outline-1 rounded-md mx-[5vw] pt-[2.5vw] bg-white">
    <Col Class="text-center pl-[5vw]" Span="8">
        <h1 class="text-4xl font-bold"><span class="text-TdaGrey">Teacher</span> <span class="text-TdaCyan text-outline">Digital</span> <span class="text-white text-outline">Agency</span></h1>
        <p class="text-2xl">Inovace, Inspirace, Impakt - Společně tvoříme vzdělávací revoluci!</p>
    </Col>
    <Col Class="text-center pt-[13vh] py-2" Span="8"><p>© 2024 Teacher Digital Agency</p></Col>
    <Col Class="text-center" Span="8">
        <h1 class="font-lalezar font-bold text-3xl">Kontakty</h1>
        <p class="font-lalezar font-bold text-2xl"><span class="text-TdaCyan">cannas.samuel</span>&commat;student.ssinfotech.cz</p>
        <p class="font-lalezar font-bold text-2xl"><span class="text-TdaCyan">hosnedl.karel</span>&commat;student.ssinfotech.cz</p>
    </Col>
</Row>
