<nav class="fixed flex top-0 h-10 w-full text-white font-bold bg-TDAgrey">
    <!-- TODO: Vlevo má být ikona (viz. screenshoty jednotlivého učitele), a potom linky dát doprava -->
    
    <a class="transition ease-in-out w-28 h-full flex hover:bg-TDAyellow" href="#">
        <p class="m-auto">Databáze</p>
    </a>
    
    <a class="transition ease-in-out w-28 h-full flex hover:bg-TDAyellow" href="#">
        <p class="m-auto">FAQ</p>
    </a>
    
    <a class="transition ease-in-out w-28 h-full flex hover:bg-TDAyellow" href="#">
        <p class="m-auto">Kontakty</p>
    </a>
</nav>
