<a class="z-[60] fixed left-0 top-0 w-40 h-40 bg-[url('/TDACustomKruh.png')] hover:bg-[url('/TDACustomKruh2.png')] transition ease-in-out bg-cover" href="#"></a>

<nav class="fixed flex top-0 h-10 w-full text-white font-bold bg-TDAgrey justify-end">
    
    <a class="transition ease-in-out w-28 h-full flex hover:bg-TDAyellow" href="#">
        <p class="m-auto">Databáze</p>
    </a>
    
    <a class="transition ease-in-out w-28 h-full flex hover:bg-TDAyellow" href="#">
        <p class="m-auto">FAQ</p>
    </a>
    
    <a class="transition ease-in-out w-28 h-full flex hover:bg-TDAyellow" href="#">
        <p class="m-auto">Kontakty</p>
    </a>
</nav>
