<Header Class="fixed flex justify-between z-10 w-full bg-transparent h-14">
    <a class="h-90p my-auto" href="/">
        <Image Height="100%" Src="images/logos/TeacherDigitalAgency_LOGO_colour-black.svg" Alt="Logo" Preview="false" />
    </a>
</Header>
