@page "/"

<!--  -->

<PageTitle>Teacher Digital Agency</PageTitle>
<body>
    <div class="top-0 h-20 w-full text-white bg-TDAgrey">
        
        <div class="flex h-20 text-white font-bold bg-TDAgrey">
            <div class="w-40 h-20 flex hover:bg-TDAyellow"><p class="m-auto">Databáze</p></div>
            <div class="w-40 h-20 flex hover:bg-TDAyellow"><p class="m-auto">FAQ</p></div>
            <div class="w-40 h-20 flex hover:bg-TDAyellow"><p class="m-auto">Kontakty</p></div>
        </div>
   
    </div>
</body>
